.my-cards-container{
    margin-bottom: 5vh;
}
.cards-list{
    margin: 5vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.cards-list button{
    width: 40%;
    background: transparent;
    color: #2079ff;
    
}
.cards-list button:hover{
    background: none;
    color: white;
}